<div class="container" id="login">
    <form method="post">
        <div class="">
            <input type="text" name="email" value="" placeholder="Email" required>
        </div>
        <div class="">
            <input type="password" name="password" value="" placeholder="Password" required>
        </div>
        <p>Don't have an account? <a href="/register">Register</a></p>
        <input type="submit" name="" value="Login">
        <div class="">
            <%- error %>
        </div>
    </form>

</div>
