<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('templates/head') %>
    <body>
        <%- include('templates/header') %>
        <main>
            <%- include(file) %>
        </main>
        <%- include('templates/footer') %>
    </body>
</html>
