<div class="container" id="login">
    <form method="post">
        <div class="">
            <input type="text" name="email" value="" placeholder="Email" required>
        </div>
        <div class="">
            <input type="password" name="password" value="" placeholder="Password" required>
        </div>
        <div class="">
            <input type="password" name="confirmpassword" value="" placeholder="Confirm password" required>
        </div>
        <p>Already have an account? <a href="/login">Login</a></p>
        <input type="submit" name="" value="Register">
        <div class="">
            <%- error %>
        </div>
    </form>

</div>
