<div class="container" id="todo-container">
    <!-- <input type="text" name="" value="" class="big-input" id="todo" placeholder="I have to..." autofocus autocomplete="false"> -->
    <!-- <div class="bottom">
        <button type="button" onclick="" id="clear-todo" class="clear">Clear</button>
    </div> -->
</div>
