<div class="container">
    <input type="text" name="" value="" class="big-input" id="todo" placeholder="I have to..." autofocus autocomplete="false">
    <ul id="list">
    </ul>
</div>

<div class="bottom">
    <button type="button" onclick="clearTodo()" class="clear">Clear</button>
</div>
